:root{
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 57%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

main{
    background-color: var(--light-gray);
    min-height: 100vh;
}

.container{
    padding: 30px 0;
    width: 91%;
    margin: 0 auto;
}
.comment{
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 18px;
}
.comment-top{
    display: flex;
    gap: 18px;
    align-items: center;
}
.comment-top img{
    width: 32px;
}
.comment-top h2{
    color: var(--dark-blue);
    font-size: 1.6rem;
}
.comment-top span{
    color: var(--grayish-blue);
    font-size: 1.5rem;
}
.comment .textarea{
    width: 100%;
    height: auto;
    border: none;
    font-family: 'Rubik', sans-serif;
    color: var(--grayish-blue);
    resize: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 14px 0;
}
.comment .textarea[contenteditable="true"]{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--moderate-blue);
}
.comment #user-reply{
    color: var(--moderate-blue);
    font-weight: 700;
}
.comment-bottom{
    display: flex;
    justify-content: space-between;
}
.comment-bottom button{
    border: none;
    background-color: var(--moderate-blue);
    color: var(--white);
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
.comment-bottom button:hover{
    background-color: var(--light-grayish-blue);
}
.comment-score{
    display: flex;
    align-items: center;
    background-color: var(--very-light-gray);
    padding: 10px 12px;
    height: 40px;
    border-radius: 8px;
    gap: 15px;
}
.comment-score .comment-score__plus, .comment-score .comment-score__minus{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.comment-score .comment-score__plus:hover path, .comment-score .comment-score__minus:hover path{
    fill: var(--moderate-blue);
}
.comment-score p{
    color: var(--moderate-blue);
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0;
}
.comment-reply{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.comment-reply svg{
    width: 15px;
    height: 15px;
}
.comment-reply p{
    color: var(--moderate-blue);
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0;
}
.comment-reply:hover p{
    color: var(--light-grayish-blue);
}
.comment-reply:hover path{
    fill: var(--light-grayish-blue);
}
.commentReply-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.commentReply{
    width: 94%;
}
/* .commentReply .comment{
    width: 94%;
} */
.commentReply-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
    background-color: hsla(211, 10%, 45%,0.2);
}
/* REPLY */
.reply{
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 18px;
}
.reply .textarea{
    width: 100%;
    height: 100px;
    border: none;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    color: var(--grayish-blue);
    font-size: 1.5rem;
}
.reply .textarea:focus{
    outline: none;
    border: 1px solid var(--moderate-blue);
}
.reply-user{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
    align-items: center;
}
.reply-user img{
    width: 32px;
}
.reply-user button{
    border: none;
    background-color: var(--moderate-blue);
    color: var(--white);
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
.reply-user button:hover{
    background-color: var(--light-grayish-blue);
}
/* BTN DELETE */
.comment-delete, .comment-edit{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.5rem;
    cursor: pointer;
}
.comment-delete p{
    color: var(--soft-red);
    font-weight: 500;
    padding: 0;
}
.comment-delete:hover p{
    color: var(--pale-red);
}
.comment-delete:hover path{
    fill: var(--pale-red);
}
/* BTN EDIT */
.comment-edit p{
    color: var(--moderate-blue);
    font-weight: 500;
    padding: 0;
}
.comment-edit:hover p{
    color: var(--light-grayish-blue);
}
.comment-edit:hover path{
    fill: var(--light-grayish-blue);
}
/* BTN USER */
.btns-user{
    display: flex;
    gap: 18px;
}
/* IDENTIF USER */
.comment-top .identif-user{
    background-color: var(--moderate-blue);
    color: var(--white);
    display: inline-block;
    padding: 2px 6px 4px 6px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2px;
    margin-left: -10px;
}
/* INACTIVE */
.inactive{
    display: none;
}